/* make the customizations */
$theme-colors: (
    "N1": #FFFFFF,
    "N2": #F1F2F5,
    "N3": #E3E4EA,
    "N4": #DADBE1,
    "N5": #B8BAC0,
    "N6":#78797D,
    "N7": #191A1B,
    "P1": #3175FA,
    "P2": #DCECFF,
    "P3": #2465E3,
    "S1":#FBBB1E,
    "S2" :#E3A100,
    "success": #38D600,
    "warning":#F2BD02,
    "error": #F74331,
    "information": #2766E0,
    "F1": #DF5A3C,
    "F2":  #4F8BFF
);
$font-sizes: (
    "H5": 20px,
    "title": 16px,
    "subtitle": 14px,
    "P1": 16px,
    "P2": 14px,
    "caption":12px
);

$border-radius:               .25rem;
$border-radius-sm:            4px;
$border-radius-lg:            8px;
$border-radius-pill:          50rem;

$box-shadow-sm: 0 0 15px rgba(25, 26, 27, 0.08); 
$box-shadow-lg: 0 0 20px rgba(25, 26, 27, 0.15); 
$box-shadow: 0 0 4px rgba(95, 105, 234, 0.3); 

$spacer: 1px;
$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  8: $spacer * 8,
  12: $spacer * 12,
  16: $spacer * 16,
  19: $spacer * 19,
  24: $spacer * 24,
  32: $spacer * 32,
  40: $spacer * 40,
  48: $spacer * 48,
  60: $spacer * 60,
  80: $spacer * 80
);

$position-values: (
  0: 0,
  5: 5%,
  50: 50%,
  100: 100%
);

.border-dashed{
    border-style: dashed !important;
}

$utilities: (
  "width": (
    property: width,
    responsive: true,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
  "height": (
    property: height,
    responsive: true,
    class: h,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";